
// Body
$body-bg: white;
$limitWidth: 1400px;

//Header
$headnav-line-height:75px;
$headnav-bg: white;

//footer
$footerHeight:75px;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

//Primary colors
// $p-color1:#A7A998;
$p-color1:#00af64;
$p-color2:#C68889;
$p-color3:#9E95AE;

//Secondary colors
$s-color1:#3C805B;
$s-color2:#8D3C3E;
$s-color3:#B99852;


//shades of gray
$gray1:#373737;
$gray2:#616161;
$gray3:#747474;
$gray4:#9b9b9b;
$gray5:#CCCCCC;
$gray6:#EEEEEE;

// shade cards for dyes


$dye-shade1:#F0EBAF;
$dye-shade2:#FFD400;
$dye-shade3:#F8DD29;
$dye-shade4:#ACDD71;
$dye-shade5:#E78A88;
$dye-shade6:#E9CEE2;
$dye-shade7:#FFBC86;
$dye-shade8:#E3C567;
$dye-shade9:#FF7800;
$dye-shade10:#D65400;
$dye-shade11:#994723;
$dye-shade12:#E60407;
$dye-shade13:#D4CDB3;
$dye-shade14:#766941;
$dye-shade15:#775144;
$dye-shade16:#5F8CCC;
$dye-shade17:#004278;
$dye-shade18:#2D2E33;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lato', sans-serif;

$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
