
.page-content.fabricsPage{
	.page-hero{
		padding:45px 0px;
		background:$p-color3;
		// background-image: url(https://www.transparenttextures.com/patterns/grunge-wall.png);
		min-height:500px;
		text-align:center;
		h1.quote{
			font-weight: bold;
			color: white;
			small{
				color: rgba(0,0,0,0.7);
				margin: 15px;
				display: block;
				font-weight: 100;
			}
		}
	}
	section.showcase{
		background:#F3F3F3;
		.fabric-types-wrapper{
			margin:45px 0px;
			display:flex;
			flex-wrap:wrap;
		}
		.fabric-type{
			background-size:cover !important;
			background-position:center !important;
			text-align:left;
			width:calc(50% - 10px);
			margin:5px;
			min-height:400px;
			box-shadow: 0px 6px 21px -7px black;
			border: 5px solid rgba(255,255,255,0.95);
			padding:25px;
			background:white;
			transition:transform 0.3s linear;
			h2{
				color: rgba(0,0,0,0.8);
				background: rgba(255,255,255,0.8);
				padding: 10px 25px;
				display: inline-block;
				margin-left: -25px;				
				font-size: 25px;
			}
		}

		.blockPrint{

		}
	}

}
