.page-content.homePage{
	section.landing{
		background:rgb(0,20,40);
		padding:0;
		text-align:center;
		// height:calc(100vh - 228px);
		.fullscreen-bg{
			height:90vh;
			min-height:500px;
			// background:black;
			// box-shadow:inset 0px 0px 300px 80px black;
			overflow:hidden;
			h1{
				position: absolute;
				width: 100%;
				top: 42%;
				transform: translateY(-50%);
				font-size: 65px;
				color: white;
				z-index: 1;
				font-weight:900;
			}
			video{
				width:100%;
				transform:scale(1.2);
				opacity:0.65;
			}
		}
	}
	section.dyes,section.yarns,section.fabrics{
		.creative-wrapper{
			height:300px;
			width:300px;
			border-radius:50%;
		}
		.desc-wrapper{
			h2{
				font-weight:bold;
			}
			.true-btn{
				color:white;
			}
		}
	}
	section.dyes{
		.true-btn{
			background:$p-color2;
		}
		h1{
			// color:$p-color2;
		}
		.creative-wrapper{
			background:url('../images/dye.png');
			background-size:cover;
		}
	}
	section.yarns{
		background:#F3F3F3;
		.true-btn{
			background:$p-color1;
		}
		h1{
			// color:$p-color1;
		}
	}
	section.fabrics{
		.true-btn{
			background:$p-color3;
		}
		h1{
			// color:$p-color3;
		}
	}

	section.featuring{
		padding:0;
		background:#111;
		.strip{
			position:relative;
			float:left;
			width:33.33%;
			// box-shadow:inset 0px 0px 90px -15px black;
			transition:all 0.4s ease-in-out;
			.overlay{
				position:relative;
				padding: 45px;
			}
			h1{
				color:white;
				margin: 15px 0px;
				padding: 15px 0px;
				border-bottom: 10px solid;
				display: inline-block;
				text-align: center;
				font-weight: 600;
			}
			p{
				color: rgba(255, 255, 255, 0.9);
				font-size: 18px;
				/* font-weight: 600; */
				letter-spacing: 1px;
				line-height: 35px;
			}
		}
		.strip:hover{
			// background-position-y:-50px !important;
			// filter:grayscale(0%);
		}

		.strip.yarn{
			background:$p-color1;
			background-image: url(https://www.transparenttextures.com/patterns/grunge-wall.png);
			.true-btn{
				color:$p-color1;
			}
		}
		.strip.dye{
			background:$p-color2;
			background-image: url(https://www.transparenttextures.com/patterns/grunge-wall.png);
			.true-btn{
				color:$p-color2;
			}
		}
		.strip.fabric{
			background:$p-color3;
			background-image: url(https://www.transparenttextures.com/patterns/grunge-wall.png);
			.true-btn{
				color:$p-color3;
			}
		}
	}
	.featuring:hover{
		.strip:not(:hover){
			filter:grayscale(100%);
			opacity:0.4;
		}
	}
	section.whoweare{
		background:#F3F3F3;
		text-align:center;
		padding:80px 0px;
		h1{
			color:$gray1;			
		}
		h3{
			color:$gray3;
			line-height: 40px;
			font-style: italic;
		}
	}
	section.ourprocess{
		.info-img{
			width:100%;
			max-width:500px;
			margin:25px 0px;
		}
		.true-btn{
			color:$p-color2;
		}
		@extend section.whoweare;
		background:$p-color2;
		h1,h3,p{
			color:white;
		}
		h3{
			opacity:0.7;
		}
	}
	section.certified{
		.true-btn{
			background:$s-color2;
			color:white;
		}
		@extend section.whoweare;
		h2{
			color:$s-color2;
		}
	}
	section.infographic, section.faq, section.blogNews, section.testimonials{
		@extend section.whoweare;
	}
	section.infographic{
		@extend section.ourprocess;
		background:$p-color1;
	}
	section.testimonials{
		@extend section.ourprocess;
		background:$p-color3;
	}
}
